<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="de.thm.mow2gamecollection">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Gamecollection"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GamesListActivity"
            android:exported="false" />
        <activity
            android:name=".SudokoActivity"
            android:exported="false" />
        <activity
            android:name=".wordle.controller.WordleActivity"
            android:exported="false"
            android:label="@string/title_activity_wordle"
            android:theme="@style/Theme.GameCollection.NoActionBar">
        </activity>
        <activity
            android:name=".TicTacToeActivity"
            android:exported="false" />
    </application>
</manifest>